{% extends 'hospital/base.html' %}

{% block content %}
<h2>Doctor Profiles</h2>

<a class="btn" href="{% url 'add_doctor' %}">Add Doctor</a>

<br><br>

<form method="get">
    <input type="text" name="search" placeholder="Search doctor by specialization" value="{{ search }}">
    <button class="btn" type="submit">Search</button>
</form>

<br>

<table>
    <tr>
        <th>Name</th>
        <th>Specialization</th>
        <th>Experience</th>
        <th>Available Days</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>

    {% for doctor in doctors %}
    <tr>
        <td>Dr. {{ doctor.name }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>{{ doctor.experience }} years</td>
        <td>{{ doctor.available_days }}</td>
        <td>{{ doctor.phone }}</td>
        <td>{{ doctor.email }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">No doctors found.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}